
/* Medium devices */
@media only screen and (min-width: 1024px) and (max-width: 1279px) {

    /* Bottom Hero */
    .earth-animal .bottom-hero__content-wrapper{
        min-height: 250px;
    }
    
    .earth-animal .bottom-hero__content--img{
        top: -180px;
    }
    
}

/* Tab devices */
@media only screen and (min-width: 768px) and (max-width: 1023px) {

    /* Bottom Hero */
    .earth-animal .bottom-hero__content-wrapper{
        min-height: 230px;
    }
    
    .earth-animal .bottom-hero__content--img{
        top: -128px;
        padding: 0;
    }
    
}



/* Mobile devices */
@media only screen and (max-width: 767px){

    /* CTA Styles */
    .earth-animal .cta-box {
        width: auto;
    }

    .earth-animal .cta-box a{
        text-transform: capitalize;
        text-decoration: underline;
        color: #001952;
        background: none;
        border: none;
    }

    .earth-animal .cta-box a:hover{
        color: #001952;
        border: none;
    }

    /* Size section */
    .earth-animal__sizes--content-wrapper{
        overflow-x: auto;
        width: 260%;
    }

    .earth-animal__sizes--content .sizes__single-item{
        width: 70%;
    }

    /* Variety proteins */
    .earth-animal .variety-proteins__content--wrapper{
        overflow-x: auto;
        width: 245%;
    }

    .earth-animal .variety-proteins__single-item{
        width: 40%;
    }


    /* Bottom Hero */
    .earth-animal .bottom-hero {
        margin: 50px 0 30px;
    }

    .earth-animal .bottom-hero__bg{
        background-image: none;
    }

    .earth-animal .bottom-hero__content-wrapper{
        flex-wrap: wrap;
    }

    .earth-animal .bottom-hero__content-wrapper--col{
        width: 100%;
    }

    .earth-animal .bottom-hero__content-wrapper--col:first-child{
        order: 2;
    }

    .earth-animal .bottom-hero__content--text {
        padding: 40px 15px 30px;
    }

    .earth-animal .bottom-hero__content--img{
        padding: 0;
        position: unset;
        display: flex;
    }


}